@model MorseArCode.Models.UserViewModels.InGameViewModel

<div class="col-md-12 homePageText">
    <h4 class="col-md-6 text-center scoreSplash">Your Score</h4>
    <h4 class="col-md-6 text-center scoreSplash">High Score</h4>
    <h4 class="col-md-6 text-center splashTotals">@Model.Score</h4>
    <h4 class="col-md-6 text-center splashTotals">@Model.HighScore</h4>
    <h1 class="text-center welcomeText">Morse-ArCode</h1>
    <h3 class="text-center onePlayer">1 Player</h3>
    <h3 class="text-center adamco">adamco&reg;</h3>
</div>

<footer>
    <p class="col-md-12 text-center copywright">&copy; 2017 - AdamCo Ltd.</p>
    <p class="col-md-12 text-center">All Rights Reserved</p>
</footer>