@model MorseArCode.Models.UserViewModels.InGameViewModel

<div class="col-md-12 homePageText">
    <h4 class="col-md-6 text-center scoreSplash">Your Score</h4>
    <h4 class="col-md-6 text-center scoreSplash">High Score</h4>
    <h4 class="col-md-6 text-center splashTotals">0</h4>
    <h4 class="col-md-6 text-center splashTotals">10000</h4>
    <h2 class="text-center welcomeText">Morse-ArCode</h2>
</div>