
<h3>How To Play</h3>

<script src="~/lib/jquery/dist/jquery.js"></script>

 <style type="text/css">
 
    #tipper {
        margin: 20px auto;
        width: 500px;
    }

    #textariffic {
        width: 400px;
        height: 400px;
        font-size: 12px;
        font-family: monospace;
        line-height: 15px;
    }
</style>

<form id="tipper">
    <textarea id="textariffic"></textarea>
    <p> 
        <span>CPM</span>
        <span id="CPM">0</span>
    </p>
</form>

<script>
$(function () {
    $('#textariffic').keyup(checkSpeed);
});

var pastKeyPress = 0;
var userKeyPress = 0;
var timeDifference = 0;
var keyPressCounter = 0;

function checkSpeed() {
    //first time through, pastKeyPress is 0
    userKeyPress = new Date().getTime();

    if (pastKeyPress != 0) {
        keyPressCounter++;
        timeDifference += userKeyPress - pastKeyPress;
        $('#CPM').html(Math.round(keyPressCounter / timeDifference * 6000, 2));
    }

    pastKeyPress = userKeyPress; 
}

</script>