@model UserScoreListViewModel

<h2 class="text-center col-md-12 highTitle">High Scores</h2>

<table class="table">
    <thead>
        <tr>
                <th class="tableLabel text-left">
                    Name
                </th>
                <th class="tableLabel text-left">
                    Score
                </th>
                <th class="tableLabel text-left">
                    Average CPM
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var player in Model.ApplicationUser.OrderByDescending(s => s.Score)) 
{
        <tr class="tableRowColor">
            <td class="col-md-4 text-left">
                @Html.DisplayFor(modelItem => player.Name)
            </td>
            <td class="col-md-4 text-left">
                @Html.DisplayFor(modelItem => player.Score)
            </td>
            <td class="col-md-4 text-left">
                @Math.Round(player.UserCPM.Count == 0 ? 0 : player.UserCPM.Average(u => u.CPM), 2)
            </td>
        </tr>
}
    </tbody>
</table>

<footer>
    <p class="col-md-12 text-center copywright">&copy; 2017 - AdamCo Ltd.</p>
</footer>