@model MorseArCode.Models.UserViewModels.InGameViewModel

@{
    ViewData["Title"] = "Play The Game";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

        <div class="row">
            <h3 class="col-md-4 text-center">Your Score</h3>
            <h3 class="col-md-4 text-center">Time Remaining</h3>
            <h3 class="col-md-4 text-center">High Score</h3>
        </div>
            <h3 id="userScore" class="col-md-4 text-center">
				@Model.ApplicationUser.Score
            </h3>
            <h3 id="timer" class="col-md-4 text-center"></h3>
            <h3 id="hiscore" class="col-md-4 text-center">@Model.HighScore</h3>
        </div>

		<h3 class="col-md-12 text-center">Using Morse Code, Enter The Following:</h3>

        <h1 id="challengeWord" class="col-md-12 text-center">D</h1>

        <!-- Call the EditUserScore method inside of the Game controller -->
        @using (Html.BeginForm("EditUserScore", "Game", FormMethod.Post))
        {
            <div class="form-group hidden">
                <label asp-for="Score" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Score" class="form-control" />
                    <span asp-validation-for="Score" class="text-danger"></span>
                </div>
            </div>
            <input class="btn btn-default" type="submit" id="nextGame" value="Next Game">
        }

        <button class="btn btn-default" onclick="populateWords()" id="newWord">New Word</button>

	<!-- BEGIN: Output. -->
	<div class="output">

		<p class="message">

			<span id="userResponse" class="characters"></span>

			<span class="possibleCharacters">
				<!-- This will be populated dynamically. -->
			</span>

		</p>

	</div>
	<!-- END: Output. -->


	<!-- BEGIN: Alphabet. -->
	<div class="alphabet">

		<h3>
			Morse Code Alphabet
		</h3>

		<ul class="characters">
			<!-- This will be populated dynamically. -->
		</ul>

		<!-- Define the template. -->
		<script type="application/x-template" class="template">

			<li>
				<span class="character"></span>
				<span class="sequence"></span>
			</li>

		</script>
	</div>

<script>
    let levelOneWords = [
        "DOG",
        "GIT",
        "BUS",
        "INT",
        "WHO",
        "SOY",
        "CAT",
        "PIT",
        "FLY",
        "ELF",
        "SPY"
    ];

    function populateWords() {
        console.log("test");
        var wordCounter = 0;
        wordCounter++;
        if (wordCounter > 10) {
            wordCouter = 0;
        }
        let newWord = levelOneWords[wordCounter];
        console.log(newWord);
        //challengeWord.innerHTML = newWord; -->
    }
    populateWords();
</script>

<script src="~/js/app/morsecode.js" asp-append-version="true"></script>
<script src="~/js/app/initialize.js" asp-append-version="true"></script>
<script src="~/js/app/game.js" asp-append-version="true"></script>