@model MorseArCode.Models.UserViewModels.InGameViewModel

<script src="~/lib/jquery/dist/jquery.js"></script>

    <div class="gameHeader">
        <div class="row">
            <h3 class="col-md-4 text-center scoreHeader">Your Score</h3>
            <h3 class="col-md-4 text-center scoreHeader">High Score</h3>
            <h3 class="col-md-4 text-center cpmHeader">Current CPM</h3>
        </div>
        <div class="row">
            <h3 id="userScore" class="col-md-4 text-center">
				@Model.ApplicationUser.Score
            </h3>
            <h3 id="hiscore" class="col-md-4 text-center">@Model.HighScore</h3>
            <h3 id="displayCPM" class="col-md-4 text-center">@(@Model.ApplicationUser.UserCPM == null ? 0 : @Model.ApplicationUser.UserCPM.Average(u => u.CPM))</h3>
        </div>
        <div class="row">
            <h2 id="timer" class="col-md-12 text-center secondsRemaining"></h2>
        </div>
    </div>

        <h1 id="challengeWord" class="col-md-12 text-center difficultyLevel">Select A Difficulty Level</h1>

    <div class="buttonRow">
        <button class="btn btn-default hidden" id="newWord">New Word</button>
        <button class="btn btn-default hidden" id="userResetInput">Clear Input</button>
        <button class="btn btn-default" id="startCountdown" disabled>Start</button>
        <select id="difficulty">
            <option value="0">Difficulty Level</option>
            <option value="1">3 Letter Words</option>
            <option value="2">4 Letter Words</option>
            <option value="3">5 Letter Words</option>
        </select>
    </div>

	<!-- BEGIN: Output. -->
	<div class="output">

		<p class="message">

			<span id="userResponse" class="characters col-md-12 text-center"></span><br>

			<span class="possibleCharacters col-md-12 text-center">
				<!-- This will be populated dynamically. -->
			</span>

		</p>

	</div>
	<!-- END: Output. -->


	<!-- BEGIN: Alphabet. -->
	<div class="alphabet">

		<h3 class="text-center col-md-12 emulogic">
			Morse Code Alphabet
		</h3>

		<ul class="characters">
			<!-- This will be populated dynamically. -->
		</ul>

		<!-- Define the template. -->
		<script type="application/x-template" class="template">

			<li>
				<span class="character"></span>
				<span class="sequence"></span>
			</li>

		</script>
	</div>

<script>
    // ***** Countdown Timer
    let count = 20 + 1; //1000 will  run it every second
    let counter;
    var countdown = document.getElementById("timer"),
        score = document.getElementById("Score");

    function cdReset() {
        count = 20; //reset counter and display
        countdown.innerHTML = "00:" + count;
        clearInterval(counter); //clear the timer
        counter = setInterval(timer, 1000); //store counter
    }

    function queryScores() {
        let playerScore = parseInt($("#userScore").html());
        let databaseHiScore = parseInt($("#hiscore").html());
        if (playerScore > databaseHiScore) {
            $("#hiscore").html(playerScore);
        }
    }

    $("#userResetInput").click(function() {
        $("#userResponse").html("");
    });

    let bonus;
    function timer() {
        count--;
        if (count < 10) {
            count = "0" + count
        }
        countdown.innerHTML = "00:" + count;
        if ($("#userResponse").html() === $("#challengeWord").html() && count >= 15) {
            clearInterval(counter);
            countdown.innerHTML = "00:00"
            bonus = 2000;
            populateScore(bonus);
            queryScores();
            charactersPerMinute();
            populateCPM();
            $("#challengeWord").html("Hit Start To Begin");
            $("#startCountdown").removeClass("hidden");
            $("#difficulty").removeClass("hidden");
            $("#newWord").addClass("hidden");
            $("#userResetInput").addClass("hidden");
            characterCounter = 0;
            startTime = 0;
            finishTime = 0;
            timeDifference = 0;
            return;
        }
        else if ($("#userResponse").html() === $("#challengeWord").html() && count >= 10) {
            clearInterval(counter);
            countdown.innerHTML = "00:00"
            bonus = 1500;
            populateScore(bonus);
            queryScores();
            charactersPerMinute();
            populateCPM();
            $("#challengeWord").html("Hit Start To Begin");
            $("#startCountdown").removeClass("hidden");
            $("#difficulty").removeClass("hidden");
            $("#newWord").addClass("hidden");
            $("#userResetInput").addClass("hidden");
            characterCounter = 0;
            startTime = 0;
            finishTime = 0;
            timeDifference = 0;
            return;
        }
        else if ($("#userResponse").html() === $("#challengeWord").html() && count >= 5) {
            clearInterval(counter);
            countdown.innerHTML = "00:00"
            bonus = 1000;
            populateScore(bonus);
            queryScores();
            charactersPerMinute();
            populateCPM();
            $("#challengeWord").html("Hit Start To Begin");
            $("#startCountdown").removeClass("hidden");
            $("#difficulty").removeClass("hidden");
            $("#newWord").addClass("hidden");
            $("#userResetInput").addClass("hidden");
            characterCounter = 0;
            startTime = 0;
            finishTime = 0;
            timeDifference = 0;
            return;
        }
        else if ($("#userResponse").html() === $("#challengeWord").html() && count > 0) {
            clearInterval(counter);
            countdown.innerHTML = "00:00"
            bonus = 500;
            populateScore(bonus);
            queryScores();
            charactersPerMinute();
            populateCPM();
            $("#challengeWord").html("Hit Start To Begin");
            $("#startCountdown").removeClass("hidden");
            $("#difficulty").removeClass("hidden");
            $("#newWord").addClass("hidden");
            $("#userResetInput").addClass("hidden");
            characterCounter = 0;
            startTime = 0;
            finishTime = 0;
            timeDifference = 0;
            return;
        }
        if (count == "00") {
            $("#timer").html("00:00");
            $("#startCountdown").removeClass("hidden");
            $("#difficulty").removeClass("hidden");
            $("#newWord").addClass("hidden");
            $("#userResetInput").addClass("hidden");
            clearInterval(counter);
            alert("Times Up!");
            return;
        }
    }
    timer();

    function populateWords(result) {
        $("#startCountdown").click(function() {
            startTime = new Date().getTime(); //set time for first key press
            $("#startCountdown").addClass("hidden");
            $("#difficulty").addClass("hidden");
            $("#newWord").removeClass("hidden");
            $("#userResetInput").removeClass("hidden");
            cdReset();
            var num = Math.floor((Math.random() * 10) + 1);
            let newWord = result[num];
            $("#challengeWord").html(newWord);
            $("#userResponse").html("");
        });
    }

    $(function () {
        $( document ).keyup();
    });

    var characterCounter = 0;
    var startTime;
    var finishTime = 0;
    var timeDifference = 0;

    function charactersPerMinute() {
        let challengeSplit = $("#challengeWord").html();
        let splittedChallenge = challengeSplit.split("");
        finishTime = new Date().getTime();
        characterCounter = splittedChallenge.length;
        timeDifference = (finishTime - startTime) / 1000;
        var charPerSec = timeDifference / characterCounter;
        var userCPM = (charPerSec * 60).toFixed(2);
        console.log(userCPM);
        $('#displayCPM').html(userCPM);
    }

    function populateScore(bonus) {
        var userScoreString = $("#userScore").html();
        var userScoreNum = parseInt(userScoreString);
        userScoreNum += bonus;
        console.log(userScoreNum);
        $("#userScore").html(userScoreNum);
        $.ajax({
            type: 'POST',
            url: 'http://localhost:5000/Game/EditUserScore',
            data: {Score: userScoreNum},
            success: function (result) {
                console.log("AJAX result = ", result);
            },
        });
    }

    function populateCPM() {
        var userCPM = $("#displayCPM").html();
        var userCPMdec = parseFloat(userCPM);
        $.ajax({
            type: 'POST',
            url: 'http://localhost:5000/Game/AddUserCPM',
            data: {CPM: userCPMdec},
            success: function (result) {
                console.log("AJAX result = ", result);
            },
        });
    }

    $("#difficulty").change(getWordsFromDB);

    function getWordsFromDB() {
        var level = $(this).find('option:selected')[0];
        $.ajax({
            type: 'GET',
            url: `http://localhost:5000/Game/GetWords?difficulty=${$(level).val()}`,
            success: function (result) {
                $("#challengeWord").html("Hit Start To Begin");
                populateWords(result);
                nextWord(result);
                $("#startCountdown").removeAttr("disabled");
            },
        });
    }

    function nextWord(result) {
        $("#newWord").click(function() {
            var num = Math.floor((Math.random() * 10) + 1);
            let newWord = result[num];
            $("#challengeWord").html(newWord);
            $("#userResponse").html("");
        });
    }

</script>

<script src="~/js/app/morsecode.js" asp-append-version="true"></script>
<script src="~/js/app/initialize.js" asp-append-version="true"></script>
<script src="~/js/app/game.js" asp-append-version="true"></script>